    html {
      font-size: 10px;
    }

    body {
      background: #4E9E94;
      font-family: 'helvetica neue';
      font-weight: 200;
      font-size: 20px;
    }

    div {
        resize: both;
    }

   /* .words {
      max-width: 500px;
      margin: 50px auto;
      background: #ffffff;
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      padding: 1rem 2rem 1rem 5rem;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
      background-size: 100% 3rem;
      position: relative;
      line-height: 3rem;
    }
    */

.words {
    position: relative;
    margin: 50px auto;
    max-width: 500px;
    padding: 1rem, 2rem, 1rem 5rem;
    stroke: 2px #000000;
    background-size: 100% 3rem;
    background: #FFFCF3;
    border: 5px solid #FFFCF3;
    box-shadow: 1rem 1rem #000000;
    border-radius: 5px;
    overflow: hidden;
}

.notes {
    position: relative;
    margin: 50px auto;
    max-width: 500px;
    padding: 1rem, 2rem, 1rem 5rem;
    background-size: 100% 3rem;
    background: #FFFCF3;
    border: 5px solid #FFFCF3;
    box-shadow: 1rem 1rem #000000;
    border-radius: 5px;
    overflow: hidden;
}

    p {
      margin: 0 0 3rem;
    }

   /* .words:before {
      content: '';
      position: absolute;
      width: 4px;
      top: 0;
      left: 30px;
      bottom: 0;
      border: 1px solid;
      border-color: transparent #4E9E94
    }
    */
